	<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h5>Sign up once and watch any of our free demos.</h5>
        		<div>Component Model: {{formData | json}}</div>
				<div><hr/></div>
				<div>Form Model: {{registerForm.value | json}}</div>
					<form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Your Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-user fa" aria-hidden="true"></i>
									</span>
									<input type="text" class="form-control" name="name" id="name"  
                  					placeholder="Enter your Name" [(ngModel)]="formData.name" required/>
				    			</div>
								<div *ngIf="registerForm.controls.name.dirty 
											&& registerForm.controls.name.invalid">
									<span style="color:red"> Please enter your name</span> 
								</div>	
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="email" id="email"  
                  					placeholder="Enter your Email" [(ngModel)]="formData.email" required/>
								</div>
							</div>
							<div *ngIf="registerForm.controls.email.dirty 
											&& registerForm.controls.email.invalid">
									<span style="color:red"> Please enter your email address</span> 
								</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username"  
                  					placeholder="Enter your Username" [(ngModel)]="formData.userName" required/>
								</div>
							</div>
							<div *ngIf="registerForm.controls.username.dirty 
											&& registerForm.controls.username.invalid">
									<span style="color:red"> Please enter your username</span> 
								</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  
                  					placeholder="Enter your Password" [(ngModel)]="formData.password" required/>
								</div>
							</div>
							<div *ngIf="registerForm.controls.password.dirty 
											&& registerForm.controls.password.invalid">
									<span style="color:red"> Please enter your password</span> 
								</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirm"  
                  					placeholder="Confirm your Password" [(ngModel)]="formData.cnfrmPassword" required/>
								</div>
							</div>
							<div *ngIf="registerForm.controls.confirm.dirty 
											&& registerForm.controls.confirm.invalid">
									<span style="color:red"> Please enter password again</span> 
								</div>
						</div>

						<div class="form-group">
							<button id="button" type="submit" [disabled]="registerForm.invalid"
							 class="btn btn-primary btn-lg btn-block login-button">
								Register
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>